.card {
    flex-basis: 30%;
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    z-index: 1;
    transform: scale(1.05);
    /* cursor: pointer; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}