.navbar {
    background-color: aliceblue;
    border-bottom: solid 1px black;
    z-index: 1000 !important;
}

.buttonsContainer {
    padding-right: 20px;
}

.menuContainer {
    display: flex;
    justify-content: center;
}

.centeredMenu {
    width: 100%;
    justify-content: end;
}

.menu {
    width: 100%;
}

.navLink {
    height: 20%;
}