.navbar {
    background-color: aliceblue;
}

.buttonsContainer {
    padding-right: 20px;
}

.menuContainer {
    display: flex;
    justify-content: center;
}

.centeredMenu {
    width: 100%;
    justify-content: end;
}

.menu {
    width: 100%;
}

:global(.ant-menu-item::after) {
    display: none !important;
    border-bottom: none !important;
    transition: none !important;
}

:global(.ant-menu-item-selected::after),
:global(.ant-menu-item:hover::after) {
    border-bottom: none !important;
}

:global(.ant-menu > .ant-menu-item:hover),
:global(.ant-menu > .ant-menu-submenu:hover),
:global(.ant-menu > .ant-menu-item-active),
:global(.ant-menu > .ant-menu-submenu-active),
:global(.ant-menu > .ant-menu-item-open),
:global(.ant-menu > .ant-menu-submenu-open),
:global(.ant-menu > .ant-menu-item-selected),
:global(.ant-menu > .ant-menu-submenu-selected) {
    color: black !important;
    border-bottom: none !important;
}

.dropdown {
    background-color: red !;
}