html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.mainContainer {
    min-height: calc(100vh - 221px);
    margin-top: 63px;
    /* background-color: #f5f7fa; */
    background-color: #e6e9ef;
    /* border: solid 1px black; */
}

#root {
    margin: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.ant-image {
    height: 100%;
    width: 100%;
}

main .ant-layout-content {
    margin: 0 I !important;
}