html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.mainContainer {
    overflow: auto;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    background-color: #f8f9fa;
    /* border: solid 1px red; */
}

#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.ant-image {
    height: 100%;
    width: 100%;
}

.ant-layout-content {
    background-color: white;
    margin-top: 0 !important;
    min-height: calc(100vh - 63px);
}

.ant-layout-sider {
    position: relative !important;
}

.ant-layout-sider-trigger {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}

.ant-layout-content {
    padding: 0 !important;
}

.leaflet-top,
.leaflet-bottom,
.leaflet-control-container {
    z-index: 900 !important;
}

.custom-approve-modal {
    max-width: 800px !important;
    width: 90vw !important;
}

.custom-approve-modal .ant-modal-confirm-title,
.custom-approve-modal .ant-modal-confirm-content {
    font-size: 1.7rem !important;
}

.custom-approve-modal .ant-typography {
    font-size: 1.5rem !important;
}

.custom-approve-modal .ant-btn {
    font-size: 2rem !important;
    padding: 1.6rem 2rem;
}

.custom-approve-modal .ant-modal-content {
    padding: 3rem !important;
}


.ant-message .ant-message-notice-content {
    font-size: 1.1rem !important;
    padding: 1rem 2rem !important;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #00684a;
    font-family: 'Poppins', sans-serif;
}

.ant-message .anticon {
    font-size: 2rem !important;
    /* or any size you prefer */
    vertical-align: middle;
    margin-right: 8px;
    /* optional spacing */
}


.ant-select-multiple .ant-select-selection-item {
    background-color: #d6f5e3 !important;
    color: #1a3d2f !important;
    border-radius: 16px;
    border: none;
}

/* Ant Menu Items */
.ant-menu-horizontal>.ant-menu-item::after,
.ant-menu-horizontal>.ant-menu-submenu::after {
    border-bottom: none !important;
    transition: none !important;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-submenu {
    border-bottom: none !important;
}

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover {
    border-bottom: none !important;
}

.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
    border-bottom: none !important;
}

.custom-backtop {
    width: 64px !important;
    height: 64px !important;
    right: 70px !important;
    bottom: 80px !important;
}

.custom-backtop .ant-float-btn-body .ant-float-btn-icon {
    transform: scale(1.7);
}

.ant-float-btn-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-input-suffix .ant-input-clear-icon {
    font-size: 1.3rem !important;
}

.ant-select-selection-wrap {
    text-align: left;
}

.custom-message {
    font-size: 18px;
    font-weight: 500;
}

.ant-form-item-explain-error {
    font-size: 1.2rem;
}

.swal2-popup .sweetAlertPopup {
    font-size: 1.5rem !important;
}

.sweetAlertHtmlContainer {
    font-size: 1.5rem !important;
    /* Specifically for the error message */
}

.sweetAlertConfirmBtn {
    font-size: 1.5rem !important;
}

.ant-notification-notice-message {
    font-size: 20px !important;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-notification-notice-description {
    font-size: 20px !important;
    margin: 0 !important;
}

.ant-notification-notice-close {
    font-size: 1.1rem !important;
}

.radio-large .ant-radio-button-wrapper {
    flex: 1 1 200px;
    /* minimum width of 200px, adjust as needed */
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}