.categoriesSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    gap: 2rem;
}

.cardLink {
    flex-basis: 30%;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 65px);
}

.cardMotionWrapper {
    flex-basis: 30%;
}