.categoriesSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 10rem;
    gap: 3rem;
    overflow: hidden;
    min-height: calc(100vh - 100px);
}

.cardLink {
    flex-basis: 30%;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}

.cardMotionWrapper {
    flex-basis: 30%;
}

@media screen and (max-width: 1000px) {
    .categoriesSection {
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .cardMotionWrapper {
        width: 100% !important;
    }
}