.notificationsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px red; */
    min-height: calc(100vh - 100px);

    padding: 4rem 0;
}

.notificationsContainer {
    border: solid 1px lightgray;
    border-radius: 12px;
    background-color: #fff;
    min-width: 80%;
    max-width: 80%;
    min-height: 700px;

    padding: 4rem;
}

.pageTitle {
    font-size: 2.4rem !important;
    font-weight: 700 !important;
    color: #14b8a6 !important;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.notificationsButton {
    font-size: 1.5rem !important;
    padding: 2rem 2rem;

    width: 50%;
}

.spinner {
    transform: scale(1.7);
}

.notificationsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    /* border: solid 1px red; */

    padding: 2rem 0;
}

/* Shared base */
.notificationCard {
    width: 100%;
    border-radius: 12px;
    border: 1px solid transparent;
    min-height: 150px;
}

/* Unread: more saturated green */
.notificationUnread {
    background-color: #dff5ea;
    border-color: #00aa6c;
}

/* Read: more muted soft green */
.notificationRead {
    background-color: #eafaf1;
    border-color: #c1e9d2;
}


.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    font-size: 3rem !important;
}

.cardText {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cardTitle {
    font-size: 1.5rem;
    font-family: 'Poppins, sans-serif';
}

.cardDate {
    font-size: 1.1rem;
}

.cardActions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}