.uploadCard :global(.ant-upload) {
    min-height: 150px !important;
    min-width: 150px !important;
}

.uploadCard :global(.ant-upload-list-item-container) {
    width: 150px !important;
    height: 150px !important;
}

.uploadCard :global(.ant-upload-list-item),
.uploadCard :global(.ant-upload-select-picture-card) {
    width: 150px !important;
    height: 150px !important;
}

.customUploadButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}