.adminContent {
    background-color: #1e1e2f;
    color: white;
    padding-top: 130px !important;
    border: solid 1px red;
    min-height: 100vh;
}

.adminHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 130px;
    background-color: #001529 !important;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.adminNavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

.adminHeader :global(.ant-menu-item) {
    font-size: 2rem !important;

    border-radius: 10px !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.adminHeader :global(.ant-menu) {
    gap: 1rem !important;
}

.adminMenuLeft {
    flex: 1;
}

.adminMenuRight {
    flex-shrink: 0;
}