.adminContent {
    background-color: #1e1e2f;
    color: white;
    padding-top: 100px !important;
    /* border: solid 1px red; */
    min-height: 100vh;
}

.adminHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    background-color: #001529 !important;
    display: flex;
    align-items: center;

    /* border: solid 1px red; */

    /* padding: 5rem 0 !important; */
}

.adminNavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    width: 100%;
}

.adminMenuLeft {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menuItem {
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-decoration: none;
    width: 160px;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menuItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.activeMenuItem {
    background-color: #1890ff;
    color: white;
}