.editPlaceSection {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 20px;
}

.editPlaceCard {
    width: 100%;
    max-width: 900px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: solid 1px green;
}

.reviewCard {
    border-radius: 12px;
    margin-bottom: 2rem;
    background-color: #faf5ff;
    border: 1px solid #d3adf7;
    box-shadow: 0 4px 12px rgba(0 0 0 0.06);
}