.placeDetailsCardSection {
    margin: 0 3rem;
}

.reviewCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewCardHeaderContainer {
    display: flex;
    align-items: center;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.placeTitle {
    font-size: 1.2rem;
    margin-left: 10px;
}

.placeDetailsCard {
    width: 100%;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carouselWrapperStyle {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 1.5rem auto;
    border-radius: 10px;
    overflow: hidden;
}

.imageStyle {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    /* Add this */
}

.imageWallWrapper {
    padding: 2rem;
    background: linear-gradient(135deg, #f0fdfa, #d3cce3);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mapIframe {
    width: 100%;
    max-width: 100%;
    height: 450px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.mapIframe:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}