.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* border: solid 1px green; */
    padding: 2rem 0;
}

.card {
    width: 40%;
    background-color: #f9f9fb;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
}

.cardTitle {
    color: #222;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 2rem !important;
}

.actionButton {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.editButton {
    background-color: #13c2c2;
    color: white;
}

.editButton:hover {
    background-color: #0ea7a7;
}

.deleteButton {
    background-color: #cf1322;
    color: white;
}

.deleteButton:hover {
    background-color: #a50f1a;
}

@media (max-width: 1500px) {
    .buttonContainer {
        flex-direction: column;
        padding: 0 2rem;
    }

    .card {
        width: 100%;
    }
}