.card {
    transition: transform 0.3s ease;
    border-radius: 1rem !important;
    height: 300px;
    width: 100%;
}

.card:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    z-index: 1;
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardWrapper {
    flex-basis: 30%;
    cursor: pointer;
    text-decoration: none;
}

.card:hover .placeImage {
    filter: brightness(75%);
}

.placesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: stretch;
}

@media screen and (max-width: 1000px) {
    .cardWrapper {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .placesSection {
        padding: 2rem;
    }
}