.section {
    display: flex;
}

.imageContainer {
    width: 50%;
}

.container {
    width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);

    padding: 0 2rem;
}

.container form {
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}