.settingsContainer {
    padding: 2rem;
    min-height: calc(100vh - 100px);
    background-color: #f9f9f9;

    /* border: solid 1px red; */
}

.settingsTitle {
    text-align: center;
    font-size: 3rem !important;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.settingsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 8rem;

    /* border: solid 1px green; */
}

.settingsCard {
    /* flex-basis: 30%;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif !important;
    border: solid 1px lightgray; */

    flex-basis: 30%;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif !important;
    background-color: #e9f7f4;
    color: #1A7F64;
    box-shadow: 0 4px 12px rgba(26, 127, 100, 0.1);
    border: none;
}

.settingsCard:hover {
    /* transform: scale(1.05);
    cursor: pointer; */

    transform: scale(1.05);
    box-shadow: 0 10px 24px rgba(26, 127, 100, 0.2);
    cursor: pointer;
    background-color: #d4f2ec;
    /* Slightly more vivid on hover */
}

.settingsIcon {
    /* font-size: 5rem;
    color: lightgray;
    margin-bottom: 1rem; */

    font-size: 5rem;
    color: #1A7F64;
    margin-bottom: 1rem;
}