.settingsContainer {
    padding: 2rem;
    min-height: calc(100vh - 100px);
    background-color: #f9f9f9;

    border: solid 1px red;
}

.settingsTitle {
    text-align: center;
    font-size: 3rem !important;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.settingsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0 8rem;

    border: solid 1px green;
}

.settingsCard {
    flex-basis: 30%;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 128, 0, 0.15);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif !important;
    border: solid 1px lightgray;
}

.settingsIcon {
    font-size: 5rem;
    color: lightgray;
    margin-bottom: 1rem;
}