.uploadPlaceSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    min-height: calc(100vh - 200px);
}

.uploadPlaceCard {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.uploadButton {
    width: 100%;
}