.container {
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 10px;
    height: 100% !important;
    /* width: 100% !important; */
}

.container:hover {
    z-index: 1;
    transform: scale(1.05);
    border-radius: 10px !important;
}

.container .ant-image {
    border: solid 2px green;
}

.container img {
    border-radius: 10px !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.container:hover .overlay {
    opacity: 1;
    width: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}