.placeDetailsCardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px black; */
    gap: 1rem;
    padding: 0 2rem;
}

.placeDetailsCard {
    width: 60%;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* border: solid 1px black; */
}

.userReviewCard {
    width: 40%;
    /* border: solid 1px black; */
}

.placeDescriptionCard {
    margin-top: 1rem;
    /* border: solid 1px black; */
}

.placeDescriptionParagraph {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    padding: 0 !important;
    margin: 0 !important;
}

.carouselWrapperStyle {
    width: 100%;
    /* max-width: 600px; */
    margin: 0 auto 1.5rem auto;
    border-radius: 10px;
    overflow: hidden;
}

.imageStyle {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.reviewCardHeader {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.reviewCardHeaderContainer {
    display: flex;
    align-items: center;
}

.placeTitle {
    margin-left: 10px;
    font-size: 1.2rem;
}