.customPagination :global(.ant-pagination-item) {
    border-color: #1f1e2f;
    color: #1f1e2f;
    transition: all 0.3s ease;
}

.customPagination :global(.ant-pagination-item:hover) {
    border-color: #3e75fc;
    color: #3e75fc;
    background-color: #e6f0ff !important;
}

.customPagination :global(.ant-pagination-item-active) {
    background-color: #3e75fc;
    border-color: #3e75fc;
    color: #fff;
}

.customPagination :global(.ant-pagination-prev),
.customPagination :global(.ant-pagination-next) {
    color: #1f1e2f;
}

.customPagination :global(.ant-pagination-prev:hover),
.customPagination :global(.ant-pagination-next:hover) {
    color: #3e75fc;
}

.customPagination :global(.ant-pagination-item a) {
    color: #1f1e2f;
}

.customPagination :global(.ant-pagination-item:hover a) {
    color: #3e75fc;
}

.customPagination :global(.ant-pagination-item-active a) {
    color: #fff;
}

.customPagination :global(.ant-pagination-prev),
.customPagination :global(.ant-pagination-next) {
    color: white;
}

.customPagination :global(.ant-pagination-prev:hover),
.customPagination :global(.ant-pagination-next:hover) {
    color: #89ADFF;
}

.customPagination :global(.ant-pagination-prev button),
.customPagination :global(.ant-pagination-next button) {
    color: white;
}