.paginationWrapper :global(.ant-pagination-item),
.paginationWrapper :global(.ant-pagination-prev),
.paginationWrapper :global(.ant-pagination-next),
.adminPaginationWrapper :global(.ant-pagination-item),
.adminPaginationWrapper :global(.ant-pagination-prev),
.adminPaginationWrapper :global(.ant-pagination-next) {
    min-width: 52px !important;
    height: 52px !important;
    line-height: 52px !important;
    font-size: 1.5rem !important;
    border-radius: 10px !important;
    color: black !important;
}

.paginationWrapper :global(.ant-pagination-item-active) {
    font-weight: 600;
    background-color: lightgreen !important;
    color: black !important;
    /* ← Add this line */
}

.adminPaginationWrapper :global(.ant-pagination-item-active) {
    font-weight: 600;
    background-color: #91d5ff !important;
    color: black !important;
    /* ← Add this line */
}