:global(.adminWrapper .ant-pagination-item-ellipsis) {
    color: #ffffff !important;
    font-size: 22px !important;
}

:global(.adminWrapper .ant-pagination-item-active a) {
    color: #ffffff !important;
    font-size: 22px !important;
}